@import "tailwindcss";

:root {
	--background: #000;
	--foreground: #ededed;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--animate-marquee: marquee 40s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@theme { 
	--text-prominent-1: clamp(48px, 5vw, 76px);
	--text-prominent-1--line-height: 0.95;
	--text-prominent-2: clamp(36px, 5vw, 56px);
	--text-prominent-2--line-height: 0.95;
	--text-prominent-3: clamp(32px, 4vw, 44px);
	--text-prominent-3--line-height: 0.95;
	--text-prominent-4: clamp(28px, 5vw, 36px);
	--text-prominent-4--line-height: 0.95;
	--text-prominent-5: clamp(22px, 3vw, 28px);
	--text-prominent-5--line-height: 1.05;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
