@import "tailwindcss";

:root {
	--background: #000;
	--foreground: #ededed;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@theme { 
	--text-intro: clamp(48px, 5vw, 76px);
	--text-intro--line-height: 0.95;
	--text-mission: clamp(28px, 5vw, 36px);
	--text-mission--line-height: 0.95;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
